@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import "bootstrap";

:root {
  --primary-color: rgb(0, 132, 61);
  --secondary-color: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo-container {
  cursor: pointer;
}

#navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

#navbar-links {
  width: 220px;
  display: flex;
  justify-content: flex-end;
}

#navbar-login-btn, #user-dropdown-btn {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-weight: 700;
}

#navbar-login-btn:hover, #user-dropdown-btn:hover, #user-dropdown-btn:focus {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  box-shadow: 0 0 10px var(--primary-color);
}

#dropdown-menu {
  width: 100%;
}

.heading {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  width: 100%;
  padding: 50px 30px;
}

.heading h1 {
  font-size: 3rem;
  font-weight: bold;
}

.heading p {
  margin-top: 30px;
  font-size: 16px;
}

#back-btn {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color)
}

#login-btn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
}

#login-btn:hover {
  box-shadow: 0 0 10px var(--primary-color);
}