.container{

    width: 80%;

    margin: auto;
    margin-top: 0px;

    font-size: 20px;
}
.appNumber{



    text-align: left;
    margin: 200px;
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;

    color: #004821;
}
.appName{

    text-align: left;
    left: -160px;


    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;

    color: #000000;
}

.appDate{

    min-width: 110px;


    text-align: left;

    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;

    color: #000000;
}
.appNumOfMonths{



    text-align: left;

    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;

    color: #000000;

}
.appLoanAmount{



    text-align: left;
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;

    color: #000000;
}
.appStatus{



    text-align: left;
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;


    color: #000000;

}
.appDetail{

    text-align: left;
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;

    color: #000000;
}

.appEdit{



}
.appDelete{
    padding: 0;
    width: 0px;
}
.appSelect{


}
.main{
    font-weight: bold;
}
.section{
color: rgb(0, 132, 61);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}


