:root {
    --primary-color: rgb(0, 132, 61);
    --secondary-color: rgb(255, 255, 255);
    --terciary-color: rgb(194, 255, 222);
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
}

h2 {
    color: var(--primary-color);
    margin: 40px 0 0 0;
    font-weight: 700;
    font-size: 1.9rem;
}

.clientDataSection {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

h3 {
    margin: 0 auto;
    text-align: center;
    font-size: 1.3rem;
    max-width: 200px;
    position: relative;
}

.clientData {
    display: flex;
    width: 100%;
}

.leftSide {
    flex: 50%;
    width: 100%;
    background-color: var(--secondary-color);
    text-align: right;
    padding-right: 10px;
}

.rightSide {
    flex: 50%;
    text-align: left;
    width: 100%;
    background-color: var(--primary-color);
    padding-left: 10px;
}

.primaryBg {
    background-color: var(--primary-color);
}

.primaryBg h4 {
    color: var(--secondary-color);
}

.secondaryBg {
    background-color: var(--secondary-color);
}

.secondaryBg h4 {
    color: var(--primary-color)
}

.statusBar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 50px;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 100px;
    color: var(--secondary-color);
    font-weight: 700;
}

.pending {
    background-color: rgb(206, 134, 2);
}

.approved {
    background-color: var(--primary-color);
}

.cancelled {
    background-color: red;
}

.sectionHeading::after {
    content: "";
    width: 70px;
    height: 2px;
    display: inline-block;
    margin-bottom: 0.2em;
    margin-left: 30px;
    border-bottom: 2px solid var(--primary-color);
}

.sectionHeading::before {
    content: "";
    width: 70px;
    height: 2px;
    display: inline-block;
    margin-bottom: 0.2em;
    margin-right: 30px;
    border-bottom: 2px solid var(--primary-color);
}