:root {
    --primary-color: rgb(0, 132, 61);
    --secondary-color: rgb(255, 255, 255);
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    color: var(--primary-color);
    margin: 40px 0 0 0;
    font-weight: 700;
    font-size: 1.9rem;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

h4 {
    font-size: 16px;
    font-weight: 700;
    color: var(--primary-color);
    margin: 10px 0 10px 0;
}

.inputSection {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.inputDivider {
    margin-top: 40px;
}

.inputDivider::before {
    content: "";
    width: 100px;
    height: 2px;
    display: inline-block;
    margin-bottom: 0.2em;
    margin-right: 30px;
    border-bottom: 2px solid var(--primary-color);
}

.inputDivider::after {
    content: "";
    width: 100px;
    height: 2px;
    display: inline-block;
    margin-bottom: 0.2em;
    margin-left: 30px;
    border-bottom: 2px solid var(--primary-color);
}

.sectionNumber {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 1.1rem;
    color: var(--secondary-color);
    font-weight: 700;
}

.inputGroup {
    width: 80%;
    text-align: left;
}

.input:focus, .input:hover {
    border-color: var(--primary-color);
    box-shadow: 0 0 8px var(--primary-color);
}

#submitButton {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    margin: 50px;
    padding: 12px 20px;
}

#submitButton:hover {
    background-color: var(--primary-color);
    box-shadow: 0 0 10px var(--primary-color);
}

.label {
    margin: 10px 0 0 0;
}